
@font-face {
  font-family: 'CustomFont2';
  src: url("./fonts/GillSans.ttc") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont';
  src: url("./fonts/DIN\ Condensed\ Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none; 
}


body {
  font-family: 'CustomFont', sans-serif;
  background-color: transparent; 
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 20px 50px;
  background-color: transparent; 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-right: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.nav-links li a {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.nav-right {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.nav-right .nav-link {
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-image: url("./Images/1.png"); 
  background-size: cover;
  background-position: center;
  padding-top: 100px; 
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero h1 {
  font-size: 64px; 
  line-height: 0.8;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.hero .experience {
  font-size: 89.6px;
  margin-top: 0px;
}

.hero p {
  font-size: 32px; 
  color: white;
  margin-top: 5px;
  text-transform: uppercase;
}

.request-info {
  position: absolute;
  right: -50px; 
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
  z-index: 2;
}

.request-info a {
  background-color: white; 
  color: #000000;
  padding: 15px 15px 5px 15px; 
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 0; 
  border: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vertical-nav {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.vertical-nav span {
  width: 2px;
  height: 20px;
  background-color: #333;
}

.vertical-nav span:first-child {
  height: auto;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}


.community-section {
  padding: 50px 20px 0px 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F8F8F8;
}

.community-header {
  width: 22%;
  position: relative;
  top: -47%;
  left: -7%;
  z-index: 20;
  isolation: isolate;
}

.community-header h1 {
  font-size: 60px;
  color: #333;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
  line-height: 0.8;
  isolation: isolate;
}

.community-header h1 span {
  /* z-index: 1; */
  padding: 0 10px;
  color: #000;
  isolation: isolate;
}

.community-header h1 span::before {
  content: '';
  position: absolute;
  left: -7%;
  top: 70%;
  transform: translateY(-50%);
  width: 110%;
  height: 6px;
  background-color: #ffdac9;
  z-index: -1;
  isolation: isolate;
}

.community-header p {
  color: #666;
  font-size: 20px;
  line-height: 1.5;
  max-width: 250px;
  text-transform: uppercase;
  
}

.know-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffdac9;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.box-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 700px;
  height: 250px;
  margin: 0 auto 30px;
  position: relative;
  padding-top: 80px;
}

.align-left {
  margin-right: 45%;
  display: flex;
  justify-content: flex-start;
  width: 50%;

}

.filler-dots {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  bottom: -66px;
  right: 251px;
}

.filler-lines {
  position: absolute;
  bottom: -61px;
  right: -16px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  width: 70px;
  height: 70px;
}

.filler-smalldots {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  bottom: -67px;
  left: 88px;
}

.align-right {
  margin-left: 36%;
  display: flex;
  justify-content: flex-end;
  width: 55%;
}

.image-box {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  z-index: 5;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon img {
  width: 50px;
  height: 50px;
  position: inherit;
  right: -10px;
  top: -10px;
}

.text-box {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-weight: lighter;
  z-index: 5;
}

.text-box .handle {
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.text-box .description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: justify;
  font-weight: lighter;
  font-family: 'CustomFont2';
}

.text-box .description a {
  color: #000;
  text-decoration: none;
  font-weight: lighter;
}

.text-box .description a:hover {
  text-decoration: underline;
}

.text-box .engagement {
  display: flex;
  gap: 15px;
  font-size: 16px;
  color: #666;
  justify-content: flex-end;
}

.lorem-box {
  position: relative;
  bottom: 0;
  margin: 0 auto 30px;
  width: 50%;
  top: -250px;
  color: #666;
  padding-left: 50px;
  padding-top: 30px;
  margin-right: 44%;
  display: flex;
  font-size: 20px;
  font-family: 'CustomFont2', sans-serif;
}

.lorem-box p {
  width: 250px;
}


#map-container {
  position: relative; 
  width: 100%;
  height: 500px;
}

#map {
  height: 100%;
  width: 100%;
  position: relative; 
  z-index: 1;
}

.location-box {
  font-family: 'CustomFont', sans-serif;
  position: absolute;
  background-color: white;
  width: 180px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 150px;
  left: 50px;
  z-index: 10; 
}

.location-box h2 {
  font-family: 'CustomFont', sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: -20px; 
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

.location-box p {
  font-family: 'CustomFont2', sans-serif;
  margin: -10px 0 0 10px;
  font-size: 14px;
  font-weight: lighter;
  color: #4a4a4a;
}

.map-pin {
  width: 73px;
  position: relative;
  top: -390px;
  left: 570px;
}

.map-zoom {
  position: relative;
  right: -91%;
  bottom: 103px;
}

.menu-section {
  padding: 60px 20px;
  background-color: #F8F8F8;
  text-align: center;
  position: relative;
  height: 780px;
}

.menu-header {
  text-transform: uppercase;
  position: relative;
  z-index: 50;
}

.menu-header h1 {
  font-size: 50px;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.menu-header h1 span {
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

.menu-header h1 span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 100%; 
  height: 5px;
  background-color: #ffdac9;
  z-index: -1;
}

.know-more-btn {
  display: inline-block;
  background-color: #ffdac9;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 50;
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
}

.menu-column {
  width: 25%;
  text-align: left;
  position: relative;
  padding: 0px 10px;
}

.menu-column.starters::before{
  content: '';
  position: absolute;
  top: -17%;
  right: 0;
  height: 840px;
  width: 1.5px;
  opacity: 0.2;
  background-color: #777777;
  z-index: -1; 
  margin-top: 0px;
}
.menu-column.main-courses::before{
  content: '';
  position: absolute;
  top: -20%;
  right: 0;
  height: 840px;
  width: 1.5px;
  opacity: 0.2;
  background-color: #777777;
  z-index: -1; 
  margin-top: -100px;
}
.menu-column.sides::before{
  content: '';
  position: absolute;
  top: -18%; 
  right: 0;
  height: 840px; 
  width: 1.5px;
  opacity: 0.2;
  background-color: #777777;
  z-index: -1; 
  margin-top: -40px;
}


.menu-column h2 {
  font-size: 40px; 
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  clip-path: inset(0 0 0 5px); 
  left: -15px;
}

.menu-column.starters h2 {
  left: -10px;
  clip-path: inset(0 0 0 0);
}

.menu-item {
  margin-bottom: 30px;
  padding: 0 10% 0 10%;
}

.menu-item-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000 !important;
  font-family: 'CustomFont' !important;
  text-transform: uppercase;
}

.menu-item p {
  font-size: 16px;
  line-height: 1.6;
  color: #777;
  font-family: 'CustomFont2';
}

.menu-item-price {
  border: 2px solid #ffdac9; 
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.menu-column.starters {
  margin-top: -80px;
}

.menu-column.main-courses {
  margin-top: 20px;
}

.menu-column.sides {
  margin-top: -40px;
}

.menu-column.desserts {
  margin-top: -60px;
}

.collaborate-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  background-color: #f8d2be;
}

.collaborate-content {
  flex: 1;
  padding-right: 50px;
}

.collaborate-content h2 {
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}

.collaborate-content h2 span {
  position: relative;
  z-index: 1;
}

.collaborate-content h2 span::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 6px;
  background-color: white;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  z-index: -1;
}

.collaborate-content p {
  font-size: 20px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 20px;
  max-width: 450px; 
}

.filler-bottom-dots {
  position: relative;
  width: 150px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 50;
  right: -212px;
  top: -206px;
}

.collaborate-form-container {
  flex: 1;
  position: relative;
  right: 43px;
}

.collaborate-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.form-group input,
.form-group select {
  border: none;
  border-bottom: 2px solid #333;
  padding: 10px;
  font-size: 16px;
  color: #999; 
  background-color: transparent; 
  outline: none;
  box-shadow: none;
}

.form-group input::placeholder,
.form-group select option {
  color: #999; 
}

.send-btn {
  background-color: #333;
  color: #F8D1BE;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  grid-column: span 2;
  width: 100px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: white;
  color: #B4B2C0;
  border-radius: 4px;
  outline: none;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%23000000' d='M5 6L0 0h10L5 6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 7px;
  padding-right: 30px;
}

.footer {
  background-color: #2b2b2b; 
  padding: 50px 0;
  color: #fff;
  font-family: 'CustomFont', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 50px;
}

.footer-section {
  text-align: left;
}

.footer-section h3 {
  font-size: 20px;
  color: #ffdac9;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #999;
  text-decoration: none;
  font-size: 16px;
}

.footer-section ul li a:hover {
  color: #ffdac9; 
}

.footer-logo h3 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-top: 1px solid #555;
  padding-top: 20px;
}

.footer-bottom p {
  font-size: 16px;
  color: #999;
}

.footer-logo {
  h1 {
    text-align: right;
    margin-top: 0px;
    font-size: xxx-large;
  }
  h2 {
    margin-bottom: 0px;
    font-size: xx-large;
  }
}

.social-icons a {
  margin-right: 15px;
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
}

.social-icons a:hover {
  color: #ffdac9;
}
